@charset "UTF-8";

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li,
ol li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  /* vertical-align: top; */
  vertical-align: middle;
}

html,
body {
  height: 100%;
  font-family: "Gilroy";
  font-size: 14px;
  line-height: 1;
  color: #333333;
  background-color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*******************************/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

/************************************/

._no-webp .sky{
  background: url("../img/forest.png") 0 0 repeat-x, -o-linear-gradient(315deg, #aad4ff 0%, #55a5f4 44%, #0b78e5 100%); }

._no-webp .sky{
  background: url("../img/forest.png") 0 0 repeat-x, linear-gradient(135deg, #aad4ff 0%, #55a5f4 44%, #0b78e5 100%); }

.sky {
  position: relative;
  width: 100%;
  height: 35vh;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: forest 120s linear infinite, forest-stop 10s infinite linear 5s, forest 120s infinite linear 15s;
          animation: forest 120s linear infinite, forest-stop 10s infinite linear 5s, forest 120s infinite linear 15s;
}

@-webkit-keyframes forest {
  from {
    background-position: 100% 4%;
  }

  to {
    background-position: 0 4%;
  }
}

@keyframes forest {
  from {
    background-position: 100% 4%;
  }

  to {
    background-position: 0 4%;
  }
}

@-webkit-keyframes forest-stop {
  0% {
    background-position: 50% 4%;
  }

  100% {
    background-position: 50% 4%;
  }
}

@keyframes forest-stop {
  0% {
    background-position: 50% 4%;
  }

  100% {
    background-position: 50% 4%;
  }
}

.sky__sun {
  content: '';
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 40px;
  width: 70px;
  height: 70px;
  background-color: yellow;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px 3px #c4c45d;
          box-shadow: 0px 0px 15px 3px #c4c45d;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: sun 8s infinite linear;
          animation: sun 8s infinite linear;
}

@-webkit-keyframes sun {
  0% {
    -webkit-box-shadow: 0px 0px 20px 8px #c4c45d;
            box-shadow: 0px 0px 20px 8px #c4c45d;
  }

  20% {
    -webkit-box-shadow: 0px 0px 20px 21px #ebeb7f;
            box-shadow: 0px 0px 20px 21px #ebeb7f;
  }

  40% {
    -webkit-box-shadow: 0px 0px 20px 10px #bebe68;
            box-shadow: 0px 0px 20px 10px #bebe68;
  }

  60% {
    -webkit-box-shadow: 0px 0px 20px 20px #f1f13a;
            box-shadow: 0px 0px 20px 20px #f1f13a;
  }

  80% {
    -webkit-box-shadow: 0px 0px 20px 15px #c4c45d;
            box-shadow: 0px 0px 20px 15px #c4c45d;
  }

  100% {
    -webkit-box-shadow: 0px 0px 20px 10px #c4c45d;
            box-shadow: 0px 0px 20px 10px #c4c45d;
  }
}

@keyframes sun {
  0% {
    -webkit-box-shadow: 0px 0px 20px 8px #c4c45d;
            box-shadow: 0px 0px 20px 8px #c4c45d;
  }

  20% {
    -webkit-box-shadow: 0px 0px 20px 21px #ebeb7f;
            box-shadow: 0px 0px 20px 21px #ebeb7f;
  }

  40% {
    -webkit-box-shadow: 0px 0px 20px 10px #bebe68;
            box-shadow: 0px 0px 20px 10px #bebe68;
  }

  60% {
    -webkit-box-shadow: 0px 0px 20px 20px #f1f13a;
            box-shadow: 0px 0px 20px 20px #f1f13a;
  }

  80% {
    -webkit-box-shadow: 0px 0px 20px 15px #c4c45d;
            box-shadow: 0px 0px 20px 15px #c4c45d;
  }

  100% {
    -webkit-box-shadow: 0px 0px 20px 10px #c4c45d;
            box-shadow: 0px 0px 20px 10px #c4c45d;
  }
}

._no-webp .sky::before{
  background: url("../img/clouds.png") 0 0px/50% repeat-x; }

.sky::before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 5;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: clouds 150s linear infinite, clouds-stop 10s infinite linear 5s, clouds 150s infinite linear 15s;
          animation: clouds 150s linear infinite, clouds-stop 10s infinite linear 5s, clouds 150s infinite linear 15s;
}

@-webkit-keyframes clouds {
  from {
    background-position: 100% -10px;
  }

  to {
    background-position: 0 -10px;
  }
}

@keyframes clouds {
  from {
    background-position: 100% -10px;
  }

  to {
    background-position: 0 -10px;
  }
}

@-webkit-keyframes clouds-stop {
  0% {
    background-position: 50% -10px;
  }

  100% {
    background-position: 50% -10px;
  }
}

@keyframes clouds-stop {
  0% {
    background-position: 50% -10px;
  }

  100% {
    background-position: 50% -10px;
  }
}

._no-webp .sky::after{
  background: url("../img/house_2.png") 0 100%/15% repeat-x; }

.sky::after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 2;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: houses 80s linear infinite, houses-stop 10s infinite linear 5s, houses 80s infinite linear 15s;
          animation: houses 80s linear infinite, houses-stop 10s infinite linear 5s, houses 80s infinite linear 15s;
}

@-webkit-keyframes houses {
  from {
    background-position: 100% 100%;
  }

  to {
    background-position: 0 100%;
  }
}

@keyframes houses {
  from {
    background-position: 100% 100%;
  }

  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes houses-stop {
  0% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 100%;
  }
}

@keyframes houses-stop {
  0% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 50% 100%;
  }
}

._grass {
  position: relative;
  background: #175a17;
  -webkit-box-shadow: 0px 0px 8px 2px green;
          box-shadow: 0px 0px 8px 2px green;
}

.grass-top {
  height: 20vh;
}

._no-webp .grass-bottom{
  background: #175a17 url("../img/bush.png") 0 0px/400px repeat-x; }

.grass-bottom {
  position: relative;
  z-index: 4;
  height: 15vh;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: bush 1s linear infinite, bush-stop 10s infinite linear 5s, bush 1s infinite linear 15s;
          animation: bush 1s linear infinite, bush-stop 10s infinite linear 5s, bush 1s infinite linear 15s;
}

@-webkit-keyframes bush {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes bush {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes bush-stop {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: 50% 0;
  }
}

@keyframes bush-stop {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: 50% 0;
  }
}

.road {
  position: relative;
  z-index: 1;
  height: 30vh;
  background-color: gray;
}

.road::before,
.road::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: #fff;
}

.road::before {
  top: 48%;
  left: 0;
}

.road::after {
  top: 52%;
  left: 0;
}

.car {
  position: relative;
  z-index: 3;
  top: 20%;
  margin: 0px auto 0px;
  max-width: 900px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: car 5s 1 linear forwards;
          animation: car 5s 1 linear forwards;
}

@-webkit-keyframes car {
  0% {
    left: -100%;
  }

  100% {
    left: 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes car {
  0% {
    left: -100%;
  }

  100% {
    left: 50%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

._no-webp .car__front{
  background: url("../img/horse.png") 30px 20px/150px no-repeat, -o-linear-gradient(315deg, #f0b7a1 0%, #89442a 37%, #752201 56%, #bf6e4e 100%); }

._no-webp .car__front{
  background: url("../img/horse.png") 30px 20px/150px no-repeat, linear-gradient(135deg, #f0b7a1 0%, #89442a 37%, #752201 56%, #bf6e4e 100%); }

.car__front {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 200px;
  border-radius: 0% 30% 5% 5%;
}

.car__top {
  position: absolute;
  z-index: 1;
  top: -150px;
  left: 403px;
  width: 200px;
  height: 150px;
  border: 15px solid #963b17;
  border-radius: 0% 100% 0% 0%;
  background-color: transparent;
  overflow: hidden;
}

.wheel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.wheel__item {
  position: absolute;
  z-index: 2;
  bottom: -65px;
  width: 140px;
  height: 140px;
  background-color: black;
  border-radius: 50%;
  border: 25px solid black;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: wheel 0.4s infinite linear, paus 10s infinite linear 5s, wheel 0.4s infinite linear 15s;
          animation: wheel 0.4s infinite linear, paus 10s infinite linear 5s, wheel 0.4s infinite linear 15s;
}

@-webkit-keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes wheel {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes paus {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes paus {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.wheel__item::before {
  content: '';
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 50%;
  border: 5px solid #afa5a5;
}

.wheel__item::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #afa5a5;
  border-radius: 50%;
}

.wheel_top {
  right: 70px;
}

.wheel_back {
  left: 60px;
}

.wheel__line {
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #afa5a5;
}

.wheel__line::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0px;
  width: 90px;
  height: 5px;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background-color: #afa5a5;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}

.wheel__line::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0px;
  width: 90px;
  height: 5px;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  background-color: #afa5a5;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}

.glass {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: -1px;
  width: 98%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#b5bdc8), color-stop(36%, #637d93), to(#162d3a));
  background: -o-linear-gradient(top, #b5bdc8 0%, #637d93 36%, #162d3a 100%);
  background: linear-gradient(to bottom, #b5bdc8 0%, #637d93 36%, #162d3a 100%);
  border-radius: 0% 100% 0% 0%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: glass 10s linear;
          animation: glass 10s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

@-webkit-keyframes glass {
  0% {
    top: 0px;
  }

  40% {
    top: 100%;
  }

  60% {
    top: 100%;
  }

  100% {
    top: 0px;
  }
}

@keyframes glass {
  0% {
    top: 0px;
  }

  40% {
    top: 100%;
  }

  60% {
    top: 100%;
  }

  100% {
    top: 0px;
  }
}

.glass__farmer {
  position: absolute;
  z-index: 2;
  width: 100px;
  height: auto;
  left: 0;
  bottom: -20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: fermer 1s linear infinite 10s, fermer-stop 1s linear infinite 14s;
          animation: fermer 1s linear infinite 10s, fermer-stop 1s linear infinite 14s;
}

@-webkit-keyframes fermer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes fermer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }

  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@-webkit-keyframes fermer-stop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fermer-stop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.exhaust {
  position: absolute;
  top: 67%;
  left: -40px;
  width: 40px;
  height: 20px;
  background-color: #443b3a;
  -webkit-box-shadow: -65px 0px 30px 10px #443b3a;
          box-shadow: -65px 0px 30px 10px #443b3a;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
  -webkit-animation: exhaust 1s infinite linear;
          animation: exhaust 1s infinite linear;
}

@-webkit-keyframes exhaust {
  0% {
    -webkit-box-shadow: -65px 0px 30px 10px #443b3a;
            box-shadow: -65px 0px 30px 10px #443b3a;
  }

  50% {
    -webkit-box-shadow: -65px 0px 30px 5px #443b3a;
            box-shadow: -65px 0px 30px 5px #443b3a;
  }

  100% {
    -webkit-box-shadow: -65px 0px 30px 0px #443b3a;
            box-shadow: -65px 0px 30px 0px #443b3a;
  }
}

@keyframes exhaust {
  0% {
    -webkit-box-shadow: -65px 0px 30px 10px #443b3a;
            box-shadow: -65px 0px 30px 10px #443b3a;
  }

  50% {
    -webkit-box-shadow: -65px 0px 30px 5px #443b3a;
            box-shadow: -65px 0px 30px 5px #443b3a;
  }

  100% {
    -webkit-box-shadow: -65px 0px 30px 0px #443b3a;
            box-shadow: -65px 0px 30px 0px #443b3a;
  }
}

.car-back {
  position: absolute;
  z-index: 2;
  top: -147px;
  left: 1px;
  width: 401px;
  height: 148px;
  border-radius: 5px 0px 0px 0px;
  border-bottom: 3px solid #524242;
  background: #963b17;
}

.light {
  position: absolute;
  z-index: -5;
  top: 37%;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: yellow;
  -webkit-box-shadow: 5px 0px 30px 6px yellow;
          box-shadow: 5px 0px 30px 6px yellow;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-animation: light 3s 1 linear 6s;
          animation: light 3s 1 linear 6s;
}

@-webkit-keyframes light {
  0% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  38% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  40% {
    -webkit-box-shadow: 4px 0px 30px 16px yellow;
            box-shadow: 4px 0px 30px 16px yellow;
  }

  42% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  50% {
    -webkit-box-shadow: 4px 0px 30px 16px yellow;
            box-shadow: 4px 0px 30px 16px yellow;
  }

  52% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  57% {
    -webkit-box-shadow: 4px 0px 30px 16px yellow;
            box-shadow: 4px 0px 30px 16px yellow;
  }

  59% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  100% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }
}

@keyframes light {
  0% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  38% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  40% {
    -webkit-box-shadow: 4px 0px 30px 16px yellow;
            box-shadow: 4px 0px 30px 16px yellow;
  }

  42% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  50% {
    -webkit-box-shadow: 4px 0px 30px 16px yellow;
            box-shadow: 4px 0px 30px 16px yellow;
  }

  52% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  57% {
    -webkit-box-shadow: 4px 0px 30px 16px yellow;
            box-shadow: 4px 0px 30px 16px yellow;
  }

  59% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }

  100% {
    -webkit-box-shadow: 5px 0px 30px 6px yellow;
            box-shadow: 5px 0px 30px 6px yellow;
  }
}

.sand {
  position: absolute;
  z-index: 1;
  bottom: 200px;
  left: -90px;
  width: 600px;
  overflow: hidden;
}

.sand img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

._webp .sky{ background: url(../img/forest.webp) 0 0 repeat-x, -o-linear-gradient(315deg, #aad4ff 0%, #55a5f4 44%, #0b78e5 100%); }

._webp .sky{ background: url(../img/forest.webp) 0 0 repeat-x, linear-gradient(135deg, #aad4ff 0%, #55a5f4 44%, #0b78e5 100%); }

._webp .sky::before{ background: url(../img/clouds.webp) 0 0px/50% repeat-x; }

._webp .sky::after{ background: url(../img/house_2.webp) 0 100%/15% repeat-x; }

._webp .grass-bottom{ background: #175a17 url(../img/bush.webp) 0 0px/400px repeat-x; }

._webp .car__front{ background: url(../img/horse.webp) 30px 20px/150px no-repeat, -o-linear-gradient(315deg, #f0b7a1 0%, #89442a 37%, #752201 56%, #bf6e4e 100%); }

._webp .car__front{ background: url(../img/horse.webp) 30px 20px/150px no-repeat, linear-gradient(135deg, #f0b7a1 0%, #89442a 37%, #752201 56%, #bf6e4e 100%); }